__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg
*.whl

venv/
.venv/

*.pth
*.pt
*.onnx
*.h5
*.pb
*.ckpt
*.safetensors
models/
*.pkl

*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.npy
*.npz
*.hdf5
*.h5
*.csv
*.parquet

camvid-dataset/
datasets/
data/
*.zip
*.tar.gz
*.rar
*.7z

.ipynb_checkpoints/

.vscode/
.idea/

test.jpg